{% assign description = product.description %}
{% capture description %}{{ description }}{% endcapture %}

{% if section.settings.description_image == blank %}
  {% assign _description_class = 'col-xl-12 col-lg-12' %}
{% else %}
  {% assign _image = section.settings.description_image %}
  {% assign _image_size = '600x' %}
  {% assign _description_class = 'col-xl-6 col-lg-12' %}
{% endif %}

<div class="product-simple-tab">

  {% if section.settings.show_product_tab %}
    <div role="tabpanel">

      <div class="container">
        <ul class="nav nav-tabs" role="tablist">

          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}

              {% case block.type %}
                {% when 'description' %}
                  {% unless description == blank %}

                    {% if block.settings.multi-tab %}
                      {% assign description_parts = description | split: "<h5" %}

                      <li class="nav-item"><a class="nav-link active" href="#tabs-description" aria-controls="tabs-description" role="tab" data-toggle="tab">{{ 'products.product.description' | t }}</a></li>

                      {% for part in description_parts %}
                        {% if part contains "</h5>" %}
                          {% assign remove = part | split: ">" | first | append: ">" %}
                          {% capture ind %}{{ forloop.index | plus: 0}}{% endcapture %}
                          <li class="nav-item"><a class="nav-link" href="#tabs-{{ forloop.index }}" aria-controls="tabs-{{ forloop.index }}" role="tab" data-toggle="tab">{{ part | split: "</h5>" | first | strip_html | replace: remove, "" }}</a></li>
                        {% endif %}
                      {% endfor %}

                    {% else %}
                      <li class="nav-item"><a class="nav-link active" href="#tabs-description" aria-controls="tabs-description" role="tab" data-toggle="tab">{{ 'products.product.description' | t }}</a></li>

                    {% endif %}

                  {% endunless %}

                {% when 'page' %}
                  <li class="nav-item"><a class="nav-link" href="#tabs-page-{{ block.id }}" aria-controls="tabs-page-{{ block.id }}" role="tab" data-toggle="tab">{{ block.settings.page_title }}</a></li>

              {% endcase %}

            {% endfor %}
          {% endif %}

          {% if section.settings.product_tab_review == 'inside' and settings.product_review_option != 'none' %}
            <li class="nav-item" id="tab_review_tabbed"><a class="nav-link" href="#tab-review" aria-controls="tab-review" role="tab" data-toggle="tab">{{'products.product.customer_reviews' | t }}</a></li>
          {% endif %}

        </ul>
      </div>

      <div class="tab-content" style="background-color:{{ section.settings.product_tab_bg_color }};">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}

            {% case block.type %}
              {% when 'description' %}
                {% unless description == blank %}

                  {% if block.settings.multi-tab %}
                    {% assign description_parts = description | split: "<h5" %}

                    <div role="tabpanel" class="tab-pane show active" id="tabs-description">
                      <div class="container">
                        <div class="row">

                          {% unless section.settings.description_image == blank %}
                            <div class="{{ _description_class }} description-image">
                              {% include 'image-lazysize' with image: _image, image_size: _image_size, image_class: '', image_alt: 'Banner' %}
                            </div>
                          {% endunless %}
                          <div class="{{ _description_class }} description-text">{{ product.description | split: '<h5>' | first }}</div>

                        </div>
                      </div>
                    </div>

                    {% for part in description_parts %}
                      {% assign fp = part | append: " " | split: "</h5>" | last %}
                      {% assign p = part | append: " " | split: "</h5>" | last | strip_html | replace: "&nbsp;", "" | replace: " ", "" | strip_newlines %}
                      {% capture ind %}{{ forloop.index | plus: 0}}{% endcapture %}

                      {% if p != "" or fp contains "<img " or fp contains "<iframe " %}
                        <div role="tabpanel" class="tab-pane" id="tabs-{{ forloop.index }}">
                          <div class="container">{{ part | split: "</h5>" | last | replace: "<div", "<span" | replace: "</div", "</span" }}</div>
                        </div>
                      {% endif %}
                    {% endfor %}

                  {% else %}
                    <div role="tabpanel" class="tab-pane show active" id="tabs-description">
                      <div class="container">
                        <div class="row">

                          {% unless section.settings.description_image == blank %}
                            <div class="{{ _description_class }} description-image">
                              {% include 'image-lazysize' with image: _image, image_size: _image_size, image_class: '', image_alt: 'Banner' %}
                            </div>
                          {% endunless %}
                          <div class="{{ _description_class }} description-text">{{ product.description }}</div>

                        </div>
                      </div>
                    </div>

                  {% endif %}

                {% endunless %}

              {% when 'page' %}
                <div role="tabpanel" class="tab-pane" id="tabs-page-{{ block.id }}">
                  <div class="container">{{ pages[block.settings.page].content }}</div>
                </div>

            {% endcase %}

          {% endfor %}
        {% endif %}

        {% if section.settings.product_tab_review == 'inside' and settings.product_review_option != 'none' %}
          <div role="tabpanel" class="tab-pane" id="tab-review">
            <div class="container">{% include 'product-detail-review-content' %}</div>
          </div>
        {% endif %}

      </div>
    </div>

  {% else %}
    <div class="container">
      <div class="product-description">{{ product.description }}</div>
    </div>

  {% endif %}

</div>
