<div id="quick-shop-popup" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog fadeIn animated">
    <div class="modal-content">

      <div class="modal-header">
        <span class="close" title="{{'products.product.close_quick_shop' | t }}" data-dismiss="modal" aria-hidden="true"></span>
      </div>

      <div class="modal-body">
        <div class="row">

          <div class="product-image col-md-7">
            <div id="qs-product-image">
              <div id="qs-slider-for" class="qs-slider-for"></div>
              <div class="qs-slick-btn">
                <span class="btn-prev"><i class="demo-icon icon-chevron-left-solid"></i></span>
                <span class="btn-next"><i class="demo-icon icon-chevron-right-solid"></i></span>
              </div>  
            </div>
            <div id="qs-slider-thumbs" class="qs-slider-thumbs"></div>
          </div>

          <div class="product-info col-md-5">
            
            <div class="d-flex brand-label">
              <div id="qs-product-author"></div>
              <span id="qs-product-label" class="product-label"></span>
            </div>
            
            <h2 id="qs-product-title">Sample Product</h2>
            
            <div id="qs-rating"></div>

            <ul class="product-sku-stock">
              <li id="qs-product-code" class="product-code" style="display:none;">
                <span>{{ 'products.product.product_code' | t }}</span>
                <span id="sku"></span>
              </li>

              <li id="qs-stock">
                <span>{{"products.product.available" | t }}:</span>
                <span class="stock"></span>
              </li>
            </ul>
            
            <div id="qs-product-price" class="detail-price"></div>

            <div id="qs-action-wrapper">

              <form action="/cart/add" method="post" class="variants" id="qs-product-action" enctype="multipart/form-data">

                <div id="qs-product-variants" class="variants-wrapper"></div>
                
                <div id="qs-description"></div>
                
                <div class="qty-add-cart">
                  <div class="quantity-product qs-quantity-product">
                    <div class="quantity qs-quantity"></div>
                  </div>

                  <div class="qs-product-button">
                    <div class="qs-action">
                      <button id="qs-add-cart" class="btn btn-1 add-to-cart" type="submit" name="add"><span class="demo-icon icon-electro-add-to-cart-icon"></span>{{'products.product.add_to_cart' | t }}</button>
                    </div>
                  </div>
                </div>

              </form>

            </div>

            <div id="qs-wl-cp">
              <div id="qs-wishlist"></div>
              <div id="qs-compare"></div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
    
    $('#quick-shop-popup').on( 'shown.bs.modal', function () {

      setTimeout(function(){
        $('#quick-shop-popup', function() {

          jQuery('.qs-slider-for').length && jQuery('.qs-slider-for').slick({
            slidesToShow: 1
            ,slidesToScroll: 1
            ,rtl: jQuery('body').data('rtl')
            ,arrows: true
            ,fade: true
            ,asNavFor: '.qs-slider-thumbs'
            ,nextArrow: $('.qs-slick-btn .btn-next')
            ,prevArrow: $('.qs-slick-btn .btn-prev')
          });

          jQuery('.qs-slider-thumbs').length && jQuery('.qs-slider-thumbs').slick({
            infinite: false
            ,vertical: true
            ,slidesToShow: 6
            ,slidesToScroll: 1
            ,rtl: jQuery('body').data('rtl')
            ,asNavFor: '.qs-slider-for'
            ,dots: false
            ,arrows: false
            ,focusOnSelect: true
          }); 

        });
      },500);
      
    });

    //Fix page content slight move
    $('#quick-shop-popup').on( 'hidden.bs.modal', function () {
      AT_Main.fixReturnScroll();      
      jQuery('.qs-slider-for').empty().removeClass('slick-initialized slick-slider');
      jQuery('.qs-slider-thumbs').empty().removeClass('slick-initialized slick-slider slick-vertical');
    });
    
    var productQty = $ ('.qs-quantity')
        ,productImage = $('#qs-slider-for')
        ,productthumbs = $('#qs-slider-thumbs')
        ,productRating = $('#qs-rating')
        ,productCode = $('#qs-product-code')
        ,productStock = $('#qs-stock')
        ,productTitle = $('#qs-product-title')
        ,productDescription = $('#qs-description')
        ,productAuthor = $('#qs-product-author')
        ,productLabel = $('#qs-product-label')
        ,productVariantWrapper = $('#qs-product-variants')
        ,productPrice = $('#qs-product-price')
        ,productAddCart = $('#qs-add-cart')
        ,productWishlist = $('#qs-wishlist')
        ,productCompare = $('#qs-compare')
        ,shopUri = '{{ shop.secure_url }}'
        ,defaultImg = 'cdn.shopify.com/s/files/1/1953/5823/t/2/assets/default-image.jpg'  ;
    
    $('.product-wrapper').on('click', '.quick_shop:not(.unavailable)', function(event){
      
      AT_Main.fixNoScroll();
      
      var $this = $(this);
          
      jQuery.getJSON('/products/'+ $(this).data('handle')+'.js', function(product) {
        
        var productSelect = product
        ,productSelectID = productSelect.id
        ,productUri = shopUri + '/products/' + productSelect.handle ;
      
        // Update add cart button
        productAddCart.data('product-id', productSelectID);

        // Update product quantity

        productQty.html('<input type="text" id="qs-quantity" class="'+ productSelect.handle +'item-quantity" name="quantity" value="1" /><span class="qty-wrapper"><span class="qty-inner qs-qty-inner"><span class="qty-up" title="Increase" data-src="#qs-quantity"><i class="demo-icon icon-plus"></i></span><span class="qty-down" title="Decrease" data-src="#qs-quantity"><i class="demo-icon icon-minus"></i></span></span></span>')

        $(".qs-quantity .qty-inner .icon-plus").on("click", function() {
          var oldValue = $("#qs-quantity").val(),
              newVal = 1;
          newVal = parseInt(oldValue) + 1;
          $("#qs-quantity").val(newVal);
        });
        
        $(".qs-quantity .qty-inner .icon-minus").on("click", function() {
          var oldValue = $("#qs-quantity").val();
          if(oldValue > 1){
            newVal = 1;
            newVal = parseInt(oldValue) - 1;
            $("#qs-quantity").val(newVal);
          }
        });

        // Update product image
        productImage.html('');
        var qs_images = productSelect.images;

        if(qs_images.length >= 1){
          $.each(qs_images, function(index, value) {
            productImage.append('<div class="slick-item slick-zoom"><img class="image-zoom" src="'+ Shopify.resizeImage(value, '495x') + '" alt="" /></div>');
          });

        }
        else{
          productImage.html('<img src="//cdn.shopify.com/s/files/1/0892/3278/t/4/assets/default-image.jpg?15574560408292301814" alt="" />');
        }

        if(qs_images.length > 1){
          $.each(qs_images, function(index, value) {
            productthumbs.append('<div class="slick-item"><img src="'+ Shopify.resizeImage(value, '100x') + '" alt="" /></div>');
          });
        }

        // Update product description
        var $prod = $this.closest(".product-wrapper");
        productLabel.html($prod.find(".product-label").html())
        productRating.html($prod.find(".product-review").html());
        productDescription.html($prod.find(".product-des-list").html());
        productWishlist.html($prod.find(".plm-button .plm-product-wishlist").html());
        productCompare.html($prod.find(".plm-button .plm-product-compare").html());

        // Update product title
        productTitle.html($prod.find(".product-name").html());

        // Update product author
        productAuthor.html($prod.find(".product-vendor").html());

        if($prod.find('.product-wishlist a').hasClass('added')){
          $("#qs-wishlist a").addClass('added');
        }

        if($prod.find('.product-compare a').hasClass('added')){
          $("#qs-compare a").addClass('added');
        }

        $("#qs-wishlist a").on("click", function() {
          $prod.find('.product-wishlist a').trigger('click');
          $(this).addClass('added');
        });

        $("#qs-compare a").on("click", function() {
          $prod.find('.product-compare a').trigger('click');
          $(this).addClass('added');
        });

        // Produc variants
        var productVariants = productSelect.variants;
        var productVariantsCount = productVariants.length;

        productPrice.html('');
        productVariantWrapper.html('');
        productAddCart.removeAttr('disabled').fadeTo(200,1);

        if (productVariantsCount > 1) {

          // Show Variants
          productVariantWrapper.show();

          // Variants element
          var productVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + productSelectID) , 'name': 'id'});
          var productVariantOptions = '';

          for (var i=0; i < productVariantsCount; i++) {
            productVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
          };

          // Add variants element on page
          productVariantElement.append(productVariantOptions);
          productVariantWrapper.append(productVariantElement);

          // Bind variants to option_selection JS
          new Shopify.OptionSelectors(('#quick-shop-variants-' + productSelectID), { product: productSelect, onVariantSelected: selectQSOptionCallback });

          // Add label if only one product option
          if (productSelect.options.length == 1){
            $('#qs-product-action .selector-wrapper:eq(0)').prepend('<label>'+ productSelect.options[0].name +'</label>');
          }

          // Select first variant on page
          var found_one_in_stock = false;
          for (var i=0; i < productSelect.variants.length; i++) {

            var variant = productSelect.variants[i];
            if(variant.available && found_one_in_stock == false) {

              found_one_in_stock = true;
              for (var j=0; j < variant.options.length; j++){

                $('#qs-product-variants .single-option-selector:eq('+ j +')').val(variant.options[j]).trigger('change');

              }
            }
          }

        } else {

          // Hide unnecessary variants
          productVariantWrapper.hide();

          // Build variants element
          var productVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + productSelectID) , 'name': 'id'});
          var productVariantOptions = '';

          for (var i=0; i < productVariantsCount; i++) {
            productVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
          };

          // Add variants element on page
          productVariantElement.append(productVariantOptions);
          productVariantWrapper.append(productVariantElement);


          // Update the add button to variant id
          productAddCart.data('variant-id', productVariants[0].id);

          // Check product is on sale
          if ( productVariants[0].compare_at_price > 0 && productVariants[0].compare_at_price > productVariants[0].price ) {
            productPrice.html('<del class="price-compare">'+ Shopify.formatMoney(productVariants[0].compare_at_price, '{{shop.money_format}}') +'</del>' + '<span class="price-sale">'+ Shopify.formatMoney(productVariants[0].compare_at_price, '{{shop.money_format}}') + '</span>');
          } else {
            productPrice.html('<span class="price">'+ Shopify.formatMoney(productVariants[0].price, '{{shop.money_format}}') + '</span>' );
          }                                                                 

          if (productSelect.available) {
            productStock.find('.stock').html('{{"products.product.in_stock" | t }}');
            productAddCart.removeAttr('disabled').fadeTo(200,1);
            productAddCart.html('<span class="demo-icon icon-electro-add-to-cart-icon"></span>{{ "products.product.add_to_cart" | t }}');

          // selected an invalid or out of stock variant 
          } else {
            productStock.find('.stock').html('{{"products.product.out_stock" | t }}');

            // disabled variant doesn't exist
            productAddCart.attr('disabled', 'disabled').fadeTo(200,0.5);

            var message = variant ? "Sold Out" : "Sold Out";    
            productAddCart.html(message);

          }

          if (productVariants[0].sku ) { productCode.find('#sku').html(productVariants[0].sku).parent().show(); }
          else{productCode.find('#sku').parent().hide(); }

        }

        {% if settings.currency_type == '2' %}
          currenciesCallbackSpecial('#quick-shop-popup span.money');
        {% endif %}

        });
      });   
          
      // selectQSOptionCallback
      var selectQSOptionCallback = function(variant, selector) { 
      
      // selected a valid and in stock variant
      if (variant && variant.available) {
        productStock.find('.stock').html('{{"products.product.in_stock" | t }}');
        productAddCart.data('variant-id', variant.id);
        productAddCart.removeAttr('disabled').fadeTo(200,1);
        productAddCart.html('<span class="demo-icon icon-electro-add-to-cart-icon"></span>{{ "products.product.add_to_cart" | t }}');
        
      // selected an invalid or out of stock variant 
      } else {
        productStock.find('.stock').html('{{"products.product.out_stock" | t }}');

        // disabled variant doesn't exist
        productAddCart.attr('disabled', 'disabled').fadeTo(200,0.5);
                                       
        var message = variant ? "Sold Out" : "Sold Out";    
        productAddCart.html(message);
        
      }
        
      // check if variant is on sale
      if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
          productPrice.html('<del class="price-compare">'+ Shopify.formatMoney(variant.compare_at_price, '{{shop.money_format}}') +'</del>' + '<span class="price-sale">'+ Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>');
          productLabel.find('.label-sale').removeClass('hide');
      } else {
          productPrice.html('<span class="price">'+ Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>' );
          productLabel.find('.label-sale').addClass('hide');
      };

      if (variant && variant.sku ) { productCode.find('#sku').html(variant.sku).parent().show(); }
      else{productCode.find('#sku').parent().hide(); }
      
      {% if settings.currency_type == '2' %}
        currenciesCallbackSpecial('#quick-shop-popup span.money');
      {% endif %}
    }
            
  });
</script>